<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" name="google-site-verification" content="j1a_NkzVJcnhwloSHt3SchrAqXM5GkAGSLlOT4B2FUU" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="imagem/png" href="../static/img/Profile.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <title>CDR</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id = 'header'>
        <section class="profile">
            <img src="../static/img/Profile.png" alt="AshengS">
            <h1>Colégio Drica Rochel</h1>
            <div class="social-links mt-3 text-center">
                <a target="_blank" href="https://api.whatsapp.com/send?phone=%2B5511992786118&data=ARAp2qJVj0RrZc8f2m2VKCKMpOpSwHq9jZMPtgg9ImXDNhXl0-knQAlvZ0S6TtO-17WB3UVNX-p554FKmMNhugpddS_5DQfCgu6xBecbB4iknnxWu7xlZE5nlLzzLV6oUDKOXKxvKgcBPH5FtA8uiRUj0A&source=FB_Page&app=facebook&entry_point=page_cta">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/colegiodricaroschel/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/colegiodricaroschel">
                    <i class="bi bi-facebook"></i>
                </a>
            </div>
        </section>
        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio">
                      <i class = "bi bi-house" aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre">
                      <i class = "bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades">
                      <i class = "bi bi-megaphone-fill" aria-hidden="true"></i> Mural de Avisos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#curriculo">
                      <i class = "bi bi-award-fill" aria-hidden="true"></i> MVV</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portifolio">
                      <i class = "bi bi-image-fill" aria-hidden="true"></i> Galeria</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contato">
                      <i class = "bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#cv">
                      <i class = "bi bi-cloud-download" aria-hidden="true"></i> Downloads</a>
                </li>


            </ul>
            <div class="testimonial-slider">
                <div class="testimonial">
                        <h3>Depoimentos</h3>
                        <p>Melhor escola da Região.</p>
                </div>
                <div class="testimonial">
                    <h3>Depoimentos</h3>
                    <p>Minha filha ama a escola e os professoras.</p>
                </div>
                <div class="testimonial">
                    <h3>Depoimentos</h3>
                    <p>A Professora Bete é muito simpática</p>
                </div>
            </div>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align items-center flex-column">
                <h2 class="text-white text-shadow">Colégio Drica Rochel</h2>
                <span id="subtitle" class="text-white text-shadow">Pagina Oficial</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Em Fevereiro de 1989, foi fundada a Recreação Infantil, localizada à Rua Pedro Roschel, nº30, em Parelheiros. Contando com pouco espaço, atendíamos perfeitamente às necessidades da Educação Infantil.<br><br>
                       Após dezesseis anos de muito carinho, dedicação e devido ao constante crescimento, em 2005, o nome da Escola foi mudado para Colégio Drica Roschel e foi implantado o Ensino Fundamental l, instalado em um novo prédio, localizado à Rua Pedro Roschel, nº33, em Parelheiros. Neste local houve um significativo desenvolvimento do Colégio com a necessidade de ampliação para atendimento também o Ensino Fundamental ll.<br><br>
                       O Colégio leva o nome de uma das famílias mais tradicionais do bairro (ROSCHEL) e se orgulha por isso.<br><br>
                       A preocupação e o compromisso em fornecer um ensino de qualidade aos alunos, sempre foi e continuará sendo o principal objetivo do colégio. A qualidade e a seriedade do nosso trabalho fazem hoje do Colégio Drica Roschel uma instituição de ensino muito respeitada.<br><br>
                       A sua escolha de uma escola particular é uma decisão importante, e estamos aqui para fornecer a você todas as informações necessárias para que possa tomar uma decisão informada. Na nossa instituição, colocamos o cuidado e a atenção em primeiro lugar.<br><br>
                       Acreditamos que a escola particular é uma opção valiosa para o desenvolvimento educacional e pessoal dos alunos. Nossa equipe dedicada de educadores está comprometida em proporcionar uma experiência de aprendizado excepcional, que vai além do currículo acadêmico.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/sobre.png" alt="Rafael Ferreira" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Ambiente Interno</h3>
                    <p>O Colégio Drica Roschel conta com instalações projetadas para oferecer aos alunos bem-estar e segurança, dispondo de ambientes preparados para propiciar a concretização de uma prática educativa, que tem como objetivo a formação da autonomia moral e intelectual.<br>
                    Além de uma proposta pedagógica moderna, o colégio possui uma infraestrutura completa e agradável aos alunos.</p>
                    <div class="row mt-3 mb-3">

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Fundação <span class="fw-lighter">Fevereiro de 1989</span></li>
                                <li class="list-group-item">Colaboradores <span class="fw-lighter">28</span></li>
                                <li class="list-group-item">Crianças Matriculadas <span class="fw-lighter">400</span></li>
                                <li class="list-group-item">Cidade/Estato <span class="fw-lighter">São Paulo/SP</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Diretor(a) <span class="fw-lighter">Drica </span></li>
                                <li class="list-group-item">Minha # <span class="fw-lighter">CDR</span></li>
                                <li class="list-group-item">Bairro <span class="fw-lighter">Parelheiros</span></li>
                                <li class="list-group-item"> <span class="fw-lighter"> </span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">

                    </div>
                    <p>Juntos, construímos o futuro dos nossos filhos. 📚 </p>

                </div>
            </div>
        </section>

        <section id ="habilidades" class="mt-5 section-bg" >
            <div class="container pb-5">
                <br>
                <h2 class="pt5">Mural</h2>
                <br>
                <p> Espaço destinado à: Recados, recomendações, informes, notas, advertências, informações, mensagens e propostas </p>

                <div class="row">
                    <div class="note red">
                        <h2>Recado 1</h2>
                        <p>Conteúdo do recado 1...</p>
                    </div>

                    <div class="note yellow">
                        <h2>Recado 2</h2>
                        <p>Conteúdo do recado 2...</p>
                    </div>

                    <div class="note green">
                        <h2>Recado 3</h2>
                        <p>Conteúdo do recado 3...</p>
                    </div>

                    <div class="note pink">
                        <h2>Recado 4</h2>
                        <p>Conteúdo do recado 4...</p>
                    </div>

                    <div class="note purple">
                        <h2>Recado 5</h2>
                        <p>Conteúdo do recado 5...</p>
                    </div>

                    <div class="note orange">
                        <h2>Recado 6</h2>
                        <p>Conteúdo do recado 6...</p>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="note red">
                        <h2>Recado 1</h2>
                        <p>Conteúdo do recado 1...</p>
                    </div>

                    <div class="note yellow">
                        <h2>Recado 2</h2>
                        <p>Conteúdo do recado 2...</p>
                    </div>

                    <div class="note green">
                        <h2>Recado 3</h2>
                        <p>Conteúdo do recado 3...</p>
                    </div>

                    <div class="note pink">
                        <h2>Recado 4</h2>
                        <p>Conteúdo do recado 4...</p>
                    </div>

                    <div class="note purple">
                        <h2>Recado 5</h2>
                        <p>Conteúdo do recado 5...</p>
                    </div>

                    <div class="note orange">
                        <h2>Recado 6</h2>
                        <p>Conteúdo do recado 6...</p>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="note red">
                        <h2>Recado 1</h2>
                        <p>Conteúdo do recado 1...</p>
                    </div>

                    <div class="note yellow">
                        <h2>Recado 2</h2>
                        <p>Conteúdo do recado 2...</p>
                    </div>

                    <div class="note green">
                        <h2>Recado 3</h2>
                        <p>Conteúdo do recado 3...</p>
                    </div>

                    <div class="note pink">
                        <h2>Recado 4</h2>
                        <p>Conteúdo do recado 4...</p>
                    </div>

                    <div class="note purple">
                        <h2>Recado 5</h2>
                        <p>Conteúdo do recado 5...</p>
                    </div>

                    <div class="note orange">
                        <h2>Recado 6</h2>
                        <p>Conteúdo do recado 6...</p>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="note red">
                        <h2>Recado 1</h2>
                        <p>Conteúdo do recado 1...</p>
                    </div>

                    <div class="note yellow">
                        <h2>Recado 2</h2>
                        <p>Conteúdo do recado 2...</p>
                    </div>

                    <div class="note green">
                        <h2>Recado 3</h2>
                        <p>Conteúdo do recado 3...</p>
                    </div>

                    <div class="note pink">
                        <h2>Recado 4</h2>
                        <p>Conteúdo do recado 4...</p>
                    </div>

                    <div class="note purple">
                        <h2>Recado 5</h2>
                        <p>Conteúdo do recado 5...</p>
                    </div>

                    <div class="note orange">
                        <h2>Recado 6</h2>
                        <p>Conteúdo do recado 6...</p>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="note red">
                        <h2>Recado 1</h2>
                        <p>Conteúdo do recado 1...</p>
                    </div>

                    <div class="note yellow">
                        <h2>Recado 2</h2>
                        <p>Conteúdo do recado 2...</p>
                    </div>

                    <div class="note green">
                        <h2>Recado 3</h2>
                        <p>Conteúdo do recado 3...</p>
                    </div>

                    <div class="note pink">
                        <h2>Recado 4</h2>
                        <p>Conteúdo do recado 4...</p>
                    </div>

                    <div class="note purple">
                        <h2>Recado 5</h2>
                        <p>Conteúdo do recado 5...</p>
                    </div>

                    <div class="note orange">
                        <h2>Recado 6</h2>
                        <p>Conteúdo do recado 6...</p>
                    </div>
                </div>
            </div>
        </section>

        <section id ="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Missão, Visão e Valores</h2>

                <div class="row">
                    <p>Com base nesses pilares, nossa escola busca formar cidadãos comprometidos, preparados para enfrentar os desafios do mundo e fazer a diferença em suas vidas e na sociedade.<br><br><br></p>

                    <div class="col-md-6">
                        <div class="cv-item" data-anime="up">
                            <h4 class="text-center">MISSÃO</h4>
                            <p> Nossa missão é proporcionar uma educação de qualidade, inspirando e capacitando os alunos a alcançarem seu pleno potencial acadêmico, pessoal e social. Buscamos criar um ambiente de aprendizagem inclusivo, onde cada aluno seja valorizado, respeitado e encorajado a desenvolver suas habilidades, valores e aspirações. </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="cv-item" data-anime="up">
                            <h4 class="text-center">VISÃO</h4>
                            <p>Nossa visão é ser reconhecida como uma escola particular de excelência, referência em educação, inovação e formação de cidadãos responsáveis e comprometidos com a sociedade. Buscamos preparar nossos alunos para enfrentar os desafios do mundo contemporâneo, estimulando o pensamento crítico, a criatividade e o respeito às diferenças.</p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <br>
                        <h4 class="text-center">VALORES</h4>
                        <div class="cv-item" data-anime="up">
                            <p>Excelência acadêmica: Buscamos a excelência em todos os aspectos da educação, promovendo um ensino de qualidade que desperte o interesse pelo conhecimento e desenvolva habilidades sólidas.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <p>Respeito e inclusão: Valorizamos a diversidade e promovemos um ambiente inclusivo, onde cada indivíduo é respeitado, valorizado e celebrado em sua singularidade.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <p>Ética e integridade: Fomentamos valores éticos, honestidade e responsabilidade em todas as interações, cultivando uma cultura de integridade e confiança.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <p>Desenvolvimento integral: Além do desenvolvimento acadêmico, valorizamos o desenvolvimento emocional, social e físico dos alunos, visando formar indivíduos equilibrados e preparados para os desafios da vida.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <p>Parceria com os pais: Reconhecemos a importância da parceria entre a escola e os pais na educação dos alunos, buscando uma comunicação aberta, transparente e colaborativa.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <p>Inovação e criatividade: Estimulamos a inovação pedagógica, o pensamento crítico e a criatividade, preparando os alunos para se adaptarem e prosperarem em um mundo em constante transformação.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <p>Responsabilidade social e ambiental: Promovemos a consciência social e ambiental, incentivando os alunos a se envolverem em ações que contribuam para o bem-estar da comunidade e para a preservação do meio ambiente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id ="portifolio" class="mt-5 section-bg">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Galeria</h2>
                <div id="carouselPortifolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="100">
                            <div class="row row-cols-2 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/pre_1.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Pré - 1</h5>
                                            <p class="card-text">O ensino Pré 1, também conhecido como Educação Infantil, é destinado a crianças de 4 a 5 anos de idade e tem como objetivo proporcionar um ambiente de aprendizagem estimulante e seguro. Nessa fase, as crianças desenvolvem habilidades cognitivas, emocionais, sociais e motoras por meio de atividades lúdicas e interativas.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="http://programmercrazy.blogspot.com/" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/pre_2.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Pré - 2</h5>
                                            <p class="card-text">O ensino Pré 2, também conhecido como último ano da Educação Infantil, é voltado para crianças com 5 a 6 anos de idade, e tem como objetivo prepará-las para a transição para o ensino fundamental. Nessa etapa, o foco principal é consolidar e aprimorar as habilidades desenvolvidas no ensino Pré 1, além de introduzir novos conceitos e conhecimentos de forma adequada à faixa etária.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/fundamental_1.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Fundamental - 1</h5>
                                            <p class="card-text">A primeira série do Ensino Fundamental marca o início dessa importante etapa da educação formal. É um momento de transição para as crianças, pois deixam a Educação Infantil e ingressam no Ensino Fundamental propriamente dito. A primeira série é geralmente destinada a crianças com cerca de 6 anos de idade.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/fundamental_2.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Fundamental 2</h5>
                                            <p class="card-text">A segunda série do ensino fundamental é um estágio crucial na educação das crianças. Normalmente, os alunos têm em torno de 7 ou 8 anos de idade. Nessa etapa, eles estão progredindo além das habilidades básicas adquiridas no primeiro ano e estão prontos para aprofundar seus conhecimentos em várias áreas.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/fundamental_3.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Fundamental 3</h5>
                                            <p class="card-text">A terceira série do ensino fundamental é um estágio importante na jornada educacional das crianças. Geralmente, os alunos têm em torno de 8 ou 9 anos de idade. Nessa etapa, eles continuam a construir sobre os conhecimentos adquiridos nas séries anteriores e a expandir suas habilidades em diversas áreas.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/fundamental_4.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Fundamental 4</h5>
                                            <p class="card-text">A quarta série do ensino fundamental é um estágio crucial no processo educacional das crianças. Normalmente, os alunos têm em torno de 9 ou 10 anos de idade. Nessa etapa, eles continuam a construir sobre os conhecimentos adquiridos nas séries anteriores e a expandir suas habilidades em várias áreas.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/RafaFerreiraS?tab=repositories" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/fundamental_5.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Fundamental 5</h5>
                                            <p class="card-text">A quinta série do ensino fundamental marca uma transição importante na educação das crianças. Normalmente, os alunos têm em torno de 10 ou 11 anos de idade. Nessa etapa, eles estão se preparando para a transição para o ensino fundamental 2 e começam a enfrentar desafios mais complexos em seu aprendizado.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://www.youtube.com/watch?v=w7XIg34JGIw&ab_channel=Mipon" target="_blanck" class=" btn brn_outline-primary"> <i class="bi bi-hourglass-split"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section id ="contato" class="pt-5 pb-5">
            <div class="container mb-5">
                <h2 class="pt-3 pb-2">Contato</h2>
                <p><br>Prezados pais, estamos ansiosos para receber seu contato e responder a todas as suas dúvidas sobre nossa escola. <br>
                    Ficaríamos felizes em agendar uma visita para que vocês possam conhecer de perto nossa estrutura e metodologia educacional. <br>
                    Entre em contato conosco para agendarmos uma conversa e iniciar essa parceria em prol do desenvolvimento acadêmico e pessoal dos seus filhos.<br><br><br>
                    </p>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>colegiodricaroschel@hotmail.com</p>
                            </div>
                            <div class="whatsapp">
                                <h4><i class="bi bi-whatsapp"></i> Whatsapp:</h4>
                                <p>(11) 99278-6118</p>
                            </div>
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.7709243189156!2d-46.73240378501715!3d-23.826743584551792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4995a639ca9b%3A0x5572f0f5f0a59b94!2sR.%20Pedro%20Roschel%2C%2033%20-%20Parelheiros%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004890-070!5e0!3m2!1spt-BR!2sbr!4v1687802216340!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0" data-anime="left">
                        <div class="card p-5 h-100 shadow border-0">
                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="text" class="form-control" placeholder="Digite seu nome" id="nome" name="nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-outline-primary">Enviar mensagem</button>
                                    <button id="btn-enviar-load" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Enviando...</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id ="cv" class="mt-5 section-bg" >
            <div class="container pb-5">
				<h2 class="pt-3 pb-2" data-anime="left">Downloads 🗂️</h2>
                <div class="row">
                    <div class="mt-5 mt-md-0" data-anime="up">
                        <div class="card p-5 h-100 shadow border-0">

                            <form class="row g-3" action="/download" method="POST">
                                <div class="col-12 d-flex  mt-4">
                                    <button id="btn-enviar-pergunta" type="submit" class="btn btn-outline-primary">Normas escolares</button>
                                </div>
                            </form>

                            <form class="row g-3" action="/download" method="POST">
                                <div class="col-12 d-flex  mt-4">
                                    <button id="btn-enviar-pergunta1" type="submit" class="btn btn-outline-primary">Regulamento</button>
                                </div>
                            </form>

                            <form class="row g-3" action="/download" method="POST">
                                <div class="col-12 d-flex  mt-4">
                                    <button id="btn-enviar-pergunta2" type="submit" class="btn btn-outline-primary">Regulamento</button>
                                </div>
                            </form>

                            <form class="row g-3" action="/download" method="POST">
                                <div class="col-12 d-flex  mt-4">
                                    <button id="btn-enviar-pergunta3" type="submit" class="btn btn-outline-primary">Regulamento</button>
                                </div>
                            </form>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                    </div>
                </div>

			</div>

		</section>


        {% with messages = get_flashed_messages(category_filter=["sucess"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle-fill"></i> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["answer"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div id="alerta_resposta" class="alert alert-info alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <h4 class="alert-heading">Resposta:</h4>
                        <p class="mb-0"></p>
                        <p>{{ message }}</p>
                        <hr>
                        <p class="mb-0">Gostou? Envie um FeedBack na aba Contato 😊 </p>
                        <p class="mb-0">By - AshengS</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p>Este site já foi visitado {{visitas}} vezes.</p>
            </div>
            <div class="text-center">
                &copy; Copyright <strong>Rafael Ferreira - AshengS</strong>
            </div>
        </div>

    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>